.jp-DatChat {
  --jp-datchat-header-height: calc(3 * var(--jp-ui-font-size2));
  --jp-private-toolbar-height: 0;
}

.jp-DatChat {
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  min-width: 300px;
  width: 12.5rem;
}

.jp-DatChat .p-SplitPanel-child {
  display: flex;
  flex-direction: column;
}

.jp-DatChat-Main.jp-RenderedHTMLCommon {
  background-color: var(--jp-layout-color1);
  display: flex;
  flex-direction: column;
  flex: 1;
  height: var(--jp-datchat-header-height);
  max-height: calc(1.75 * var(--jp-datchat-header-height));
  padding: var(--jp-notebook-padding);
}

.jp-DatChat-Main > header {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: var(--jp-notebook-padding);
}

.jp-DatChat-Main > header > div[data-icon] {
  min-height: var(--jp-ui-font-size3);
  min-width: var(--jp-ui-font-size3);
  max-width: var(--jp-ui-font-size3);
  margin-right: var(--jp-ui-font-size1);
  display: flex;
  flex-direction: column;
}

.jp-DatChat-Main > header input {
  flex: 1;
  width: 100%;
}

/* notebook hacks */
#main .jp-DatChat .jp-Notebook-cell:last-of-type {
  position: sticky;
  background-color: var(--jp-layout-color1);
  bottom: -20px;
  left: 0;
  right: 0;
  margin-right: -8px;
  margin-left: -8px;
  margin-bottom: -15px;
  margin-top: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
}

#main .jp-DatChat .jp-Notebook-cell .jp-InputArea-prompt {
  max-width: calc(3 * var(--jp-ui-font-size2));
}

#main .jp-DatChat .jp-mod-dat-peer-self .jp-InputArea-prompt,
#main .jp-DatChat .jp-Notebook-cell:last-of-type .jp-InputArea-prompt {
  opacity: 0;
}

.jp-DatChat .jp-Notebook.jp-mod-scrollPastEnd::after {
  display: none;
}

.jp-DatChat .jp-Cell {
  padding-left: 0;
}

.jp-DatChat .jp-Collapser {
  display: none;
}

.jp-DatChat .jp-Notebook-cell .jp-MarkdownOutput {
  border-left: solid 4px transparent;
}

.jp-DatChat .jp-Notebook-cell.jp-mod-dat-peer-other .jp-MarkdownOutput {
  border-left: solid 4px var(--jp-layout-color2);
}
