.jp-Dat-Peer [data-icon] {
  max-width: var(--jp-ui-font-size3);
}

.jp-mod-dat-peer-other [data-icon] {
  transform: scaleX(-1);
}

.jp-mod-dat-peer-self [data-icon] g {
  fill: var(--jp-brand-color1);
}

.jp-mod-dat-peer-other [data-icon] g {
  fill: var(--jp-accent-color1);
}

.jp-DatIdentity-Me {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.jp-DatIdentity-Me-Main {
  padding: var(--jp-notebook-padding);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.jp-DatIdentity-Me-Main > section {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.jp-DatIdentity-Me-Main > footer {
  flex: 0;
}

.jp-DatIdentity-Me p {
  padding-bottom: var(--jp-notebook-padding);
}

.jp-DatIdentity-Me p label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--jp-ui-font-size0);
  display: block;
  padding-bottom: calc(var(--jp-notebook-padding) / 2);
}

.jp-DatIdentity-Me p small {
  display: block;
  padding-top: calc(var(--jp-notebook-padding) / 2);
}

.jp-DatIdentity-Me input,
.jp-DatIdentity-Me textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.jp-DatIdentity-Me textarea {
  background-color: var(--jp-input-background);
  border: var(--jp-border-width) solid var(--jp-border-color1);
  color: var(--jp-ui-font-color0);
  font-family: var(--jp-content-font-family);
  font-size: var(--jp-ui-font-size2);
  padding: 7px;
  display: block;
}
