/* Dat Sidbar-flavored Accordion Widget */

.jp-Dat-Sidebar .p-Collapse {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.jp-Dat-Sidebar .p-Collapse-header {
  padding: var(--jp-font-size0);
  cursor: pointer;
  color: var(--jp-ui-font-color2);
  background-color: var(--jp-layout-color2);
  border: var(--jp-border-width) solid var(--jp-border-color1);
  padding: var(--jp-font-size0);
  font-weight: bold;
}

.jp-Dat-Sidebar .p-Collapse-header:hover {
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
}

.jp-Dat-Sidebar .p-Collapse-open > .p-Collapse-header {
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color0);
  cursor: default;
  border-bottom: none;
}

.jp-Dat-Sidebar .p-Collapse .p-Collapse-header::before {
  content: unset;
  display: none;
  font: unset;
  font-size: unset;
  text-rendering: unset;
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
}

.jp-Dat-Sidebar .p-Collapse-open > .p-Collapse-header::before {
  content: unset;
  display: none;
}

.jp-Dat-Sidebar .p-Collapse-contents {
  padding: var(--jp-font-size0);
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  border-left: var(--jp-border-width) solid var(--jp-border-color1);
  border-right: var(--jp-border-width) solid var(--jp-border-color1);
  border-bottom: var(--jp-border-width) solid var(--jp-border-color1);
  overflow: auto;
}

.jp-Dat-Sidebar.p-Accordion {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.jp-Dat-Sidebar.p-Accordion .p-Collapse {
  margin-bottom: 0;
}

.jp-Dat-Sidebar.p-Accordion .p-Collapse + .p-Collapse {
  margin-top: 4px;
}
