:root {
  --jp-dat-color-brand: #2aca4b;
}

.jp-mod-dat-brand {
  background-color: var(--jp-dat-color-brand);
}

button.jp-mod-styled.jp-mod-dat-btn-big {
  max-height: unset;
  height: unset;
  vertical-align: middle;
  font-size: 150%;
  display: flex;
  align-items: center;
  width: 100%;
}

.jp-mod-dat-btn-big label {
  text-align: center;
  flex: 1;
}

.jp-mod-dat-shield {
  padding: 1rem;
  width: var(--jp-ui-font-size3);
  min-width: var(--jp-ui-font-size3);
  min-height: var(--jp-ui-font-size3);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0;
}

.jp-mod-dat-shield > * {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jp-mod-dat-shield > * > * {
  flex: 1;
}

.jp-mod-dat-btn-big [fill] {
  fill: white;
}

/* sidebar */
.jp-Dat-Sidebar {
  min-width: 300px;
  width: 300px;
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  display: flex;
  flex-direction: column;
}

.jp-Dat-Sidebar > .p-TabBar {
  flex: 0;
  min-height: calc(3 * var(--jp-ui-font-size3));
  height: calc(3 * var(--jp-ui-font-size3));
  display: flex;
  flex-direction: row;
}

.jp-Dat-Sidebar > .p-TabBar .p-TabBar-tab {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--jp-layout-color2);
  padding: var(--jp-notebook-padding);
  border-top: solid 4px transparent;
  color: var(--jp-ui-font-color2);
}

.jp-Dat-Sidebar > .p-TabBar .p-TabBar-tab.jp-mod-active,
.jp-Dat-Sidebar > .p-TabBar .p-TabBar-tab:hover {
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
}

.jp-Dat-Sidebar > .p-TabBar .p-TabBar-tab[data-dat-status='publishing'] {
  border-top: solid 4px var(--jp-accent-color1);
}

.jp-Dat-Sidebar > .p-TabBar .p-TabBar-tab[data-dat-status='subscribed'] {
  border-top: solid 4px var(--jp-brand-color1);
}

.jp-Dat-Sidebar > .p-TabBar .p-TabBar-tab img {
  max-height: var(--jp-ui-font-size3);
}

/* panel */

.jp-DatPanel {
  background-color: var(--jp-layout-color1);
  padding: var(--jp-notebook-padding);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.jp-DatPanel > section {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.jp-DatPanel > footer {
  flex: 0;
}

.jp-DatPanel p {
  padding-bottom: var(--jp-notebook-padding);
}

.jp-DatPanel p > label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--jp-ui-font-size0);
  display: block;
  padding-bottom: calc(var(--jp-notebook-padding) / 2);
}

.jp-DatPanel p > small {
  display: block;
  padding-top: calc(var(--jp-notebook-padding) / 2);
}

.jp-DatPanel input[type='text'],
.jp-DatPanel textarea {
  width: 100%;
  max-width: 100%;
}

.jp-DatPanel textarea {
  background-color: var(--jp-input-background);
  border: var(--jp-border-width) solid var(--jp-border-color1);
  color: var(--jp-ui-font-color0);
  font-family: var(--jp-content-font-family);
  font-size: var(--jp-ui-font-size2);
  padding: 7px;
  display: block;
}

.jp-DatPanel blockquote {
  border-left: solid 4px var(--jp-border-color1);
  padding: var(--jp-notebook-padding);
}

/* the publisher */
.jp-DatPublisher {
  display: flex;
  flex-direction: column;
  flex: 1;
}
